{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post">{% csrf_token %}
          <h3 class="mb-4">Registro</h3>
          <!-- Este formulario viene de UserCreationForm importado en registration Views-->
          {{form.as_p}}

          {% block content2 %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Cloud Home Lab Premium</h1>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Mensual</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$ 102.08 MXN <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Premium Access</li>
        </ul>
        <a href="{% url 'checkout' %}?membership=monthly"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Get started</button></a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Anual<small class="text-primary">  Ahorre $ 204.16 MXN!</small></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$ 1020.80 MXN <small class="text-muted">/ yr</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Premium Access</li>
        </ul>
        <a href="{% url 'checkout' %}?membership=yearly"><button type="button" class="btn btn-lg btn-block btn-primary">Get started</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

          <p><input type="submit" class="btn btn-primary btn-block" value="Crear Usuario"></p>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}